@media only screen and(max-width:800px) {
    .footer{
        gap: 2%;
        margin-top: 2%;
    }
    .palace{
        gap: 2%;
    }
    .palace button{
        padding: 4px 4px;
    }
    .m1{
        margin-right: 5%;
    
}
.nav ul li{ 
    padding: 5px;
    margin-left: 2%;
}
.toprooms{
    margin-bottom: 2%;
}
}